<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/ironMan.css">
</head>
<body>
<audio hidden="true" id="test"
        controls
        src="assets/mp3/JarvisOpening.mp3">
    Your browser does not support the
    <code>audio</code> element.
</audio>
<div style="position: fixed; height: 100%; width: 100%;">
    <div class="arc_reactor">
        <div class="case_container">
            <div class="e7">
                <div class="semi_arc_3 e5_1">
                    <div class="semi_arc_3 e5_2">
                        <div class="semi_arc_3 e5_3">
                            <div class="semi_arc_3 e5_4" id="start">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="core2"></div>
            </div>
            <ul class="marks">
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
                <li></li><li></li><li></li><li></li><li></li><li></li>
            </ul>
        </div>
    </div>
</div>
<div id="invisible">
    <h3>OUBLIE</h3>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $('#start').click(function () {
            $('#test').trigger("play");
            $('#invisible').show();
        })

    })
</script>
</body>
</html>
